//
   Created by Sehyeon on 2017-07-24.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/menu_list.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../js/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='../css/signUp.css')
        link(rel='stylesheet', href='../css/menu_info.css')
    body(onload="myMap("+member.address.x+","+member.address.y+")")
        include top
        article.container-fluid
            .myslide
                #myCarousel.carousel.slide(data-ride='carousel')
                    // Indicators
                    ol.carousel-indicators
                        li.active(data-target='#myCarousel', data-slide-to='0')
                        - for(var i=1;i<menu.image.length;i++)
                            li(data-target='#myCarousel', data-slide-to=i)
                    // Wrapper for slides
                    .carousel-inner(role='listbox')
                        .item.active
                            img(src=menu.image[0].image_url, alt='Image', style='height: 500px;')
                            .carousel-caption
                        - for(var i=1;i<menu.image.length;i++)
                            .item
                                img(src=menu.image[i].image_url, alt='Image', style='height: 500px;')
                                .carousel-caption
                        // Left and right controls
                        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                            span.sr-only Previous
                        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                            span.sr-only Next
            .container.menu_info
                .foodiy_info.col-md-9
                    .col-md-2
                        img(src='https://thumb1.shutterstock.com/display_pic_with_logo/1699708/398677477/stock-vector-woman-user-smartphone-design-flat-computer-user-icon-social-media-web-user-phone-web-phone-398677477.jpg', alt='', style='width: 50px; height: 50px; display: block; margin: auto; border-radius: 50%')
                        p(style='text-align: center')=member.firstname+" "+member.lastname
                    .col-md-10(style='margin-top: 8px;')
                        p=member.firstname+"의 "+menu.menu_name
                        small(style='color: grey;')
                            p= member.address.add1
                        br
                .detail_info.col-md-9(style='border: solid 1px black;')
                    p
                        | 상세 설명
                        br
                        |                 -&nbsp
                        =menu.content
                .detail_info.col-md-9(style='border: solid 1px black;')
                    p
                        | 재료 설명
                        br
                        - for (var i=0;i<menu.ingre.length;i++)
                            .ingre-list.col-md-12
                                - var k=i
                                - for (var j=k;j<=k+2;j++)
                                    if(j === menu.ingre.length)
                                        - i=menu.ingre.length
                                        - break
                                    if(j === k)
                                        .col-md-3
                                            img(src=menu.ingre[j].ingre_url, alt='', width=100, height=60)
                                            p
                                                |원산지 :&nbsp
                                                =menu.ingre[j].madeby
                                            p
                                                |재료명 :&nbsp
                                                =menu.ingre[j].ingre_name
                                    else
                                        .col-md-offset-1.col-md-3
                                            img(src=menu.ingre[j].ingre_url, alt='', width=100, height=60)
                                            p
                                                | 원산지 :&nbsp
                                                =menu.ingre[j].madeby
                                            p
                                                | 재료명 :&nbsp
                                                =menu.ingre[j].ingre_name
                                    - i=j
                //.detail_info.col-md-9(style='border: solid 1px black;')
                    p
                        | 식사 장소
                        br
                        |                 사진 사진 사진
                .detail_info.col-md-9(style='border: solid 1px black;')
                    p
                        | 위치
                    #map.form-control(style='height: 400px;')
                .payment_box.col-md-3(style='height: 100%;')
                    ol
                        li
                            input(type='text')
                        li
                            input(type='text')
                        li
                            input(type='text')
                        li
                            input(type='text')
                #disqus_thread.col-md-9
                //script.
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://www-difdudn-com.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                noscript
                    | Please enable JavaScript to view the
                    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
        // Start of Tawk.to Script
        script(type='text/javascript').
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5967de6a6edc1c10b0345e4b/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        // End of Tawk.to Script
        script#dsq-count-scr(src='//www-difdudn-com.disqus.com/count.js', async='')
    script(src='../js/jquery.js')
    script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
    script(type='text/javascript', src='../js/bootstrap.js')
    script(type='text/javascript', src='../js/main.js')
    script(type='text/javascript', src='../js/menu_info.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0qeAa_KvAKAeoWRC1xl4BCH-iPN5ztc')

