//
   Created by Sehyeon on 2017-07-24.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        //link(rel='stylesheet', href='../css/menu_list.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../js/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='../css/signUp.css')
        link(rel='stylesheet', href='../css/menu_info.css')
        link(rel='stylesheet', href='../css/comment_final.css')
        link(rel='stylesheet', href='../css/main_css.css')
        style.
            .payment_box ul li input {
                text-align: center;
                width: 220px;
                margin-bottom: 10px;
            }

            p{
                margin:0;
                padding:10px 0;
            }

            .messageform {
                padding-top: 150px;
            }

            .message-content {
                background-color: white;
                margin: 3% auto auto auto;
                width: 600px;
                padding: 0;
            }

            .carousel-inner img {
                width: 100%;
            }
    body(onload="myMap("+member.address.x+","+member.address.y+")")
        include top
        article.container-fluid
            .myslide
                #myCarousel.carousel.slide(data-ride='carousel')
                    // Indicators
                    ol.carousel-indicators
                        li.active(data-target='#myCarousel', data-slide-to='0')
                        - for(var i=1;i<menu.image.length;i++)
                            li(data-target='#myCarousel', data-slide-to=i)
                    // Wrapper for slides
                    .carousel-inner(role='listbox')
                        .item.active
                            img(src=menu.image[0].image_url, alt='Image', style='height: 500px;')
                            .carousel-caption
                        - for(var i=1;i<menu.image.length;i++)
                            .item
                                img(src=menu.image[i].image_url, alt='Image', style='height: 500px;')
                                .carousel-caption
                        // Left and right controls
                        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                            span.sr-only Previous
                        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                            span.sr-only Next
            .container.menu_info
                .col-xs-9
                    .col-xs-12(style='margin-bottom:50px;')
                        .col-xs-2
                            img(src='https://thumb1.shutterstock.com/display_pic_with_logo/1699708/398677477/stock-vector-woman-user-smartphone-design-flat-computer-user-icon-social-media-web-user-phone-web-phone-398677477.jpg', alt='', style='width: 70px; height: 70px; display: block; margin: auto; border-radius: 50%')
                            p(style='text-align: center')=member.firstname+" "+member.lastname
                        div.col-xs-10(style='margin-top: 8px;')
                            p(style='font-size:20px;')=member.firstname+"의 "+menu.menu_name
                            small(style='color: grey;')
                                =member.address.add1
                            br
                            hr
                    .col-xs-12
                        p.title_name
                            | 상세 설명
                        p(style='padding:10px 30px;')
                            =menu.content
                        hr
                        p.title_name
                            | 재료 설명
                            - for (var i=0;i<menu.ingre.length;i++)
                                .ingre-list.col-md-12
                                    - var k=i
                                    - for (var j=k;j<=k+2;j++)
                                        if(j === menu.ingre.length)
                                            - i=menu.ingre.length
                                            - break
                                        if(j === k)
                                            .col-md-3
                                                img(src=menu.ingre[j].ingre_url, alt='', width=100, height=60)
                                                p.first
                                                    | 재료명 :&nbsp
                                                    =menu.ingre[j].ingre_name
                                                p
                                                    | 원산지 :&nbsp
                                                    =menu.ingre[j].madeby
                                        else
                                            .col-md-offset-1.col-md-3
                                                img(src=menu.ingre[j].ingre_url, alt='', width=100, height=60)
                                                p.first
                                                    | 재료명 :&nbsp
                                                    =menu.ingre[j].ingre_name
                                                p
                                                    | 원산지 :&nbsp
                                                    =menu.ingre[j].madeby
                                        - i=j
                        br
                        br
                        br
                        br
                        br
                        br
                        hr
                        p.title_name
                            | 위치
                        #map.form-control(style='height: 400px;')

                        //p.title_name
                            | 식사 장소
                            br
                            |                 사진 사진 사진

                .payment_box.col-xs-3
                    form(action="/message", method="post")
                        ul(style='list-style-type: none ;')
                            li
                                input(type='text', value=menu.price + '원 / 1회', readonly='')
                            //- li
                            //-     input.datepicker(type='text', placeholder='년/월/일')
                            //- li
                            //-     input(type='time', value='HH:mm')
                            //- li
                            //-     span(style='margin-right: 4px;') 가능한 수량 #{menu.amount}개
                            //-     input(style='width: 50px;', type='text', value='수량', readonly='')
                            //-     input(style='width: 50px;', type='number')
                            li
                                button#message_btn.btn.btn-danger(type='submit', onclick="return premessage("+ session.email +")", style='width: 200px; margin-left: 12px;', data-toggle='modal', data-target='#pop-up-message', data-dismiss='modal') 메시지 보내기
                            li
                                textarea(readonly='', style='text-align: center; margin-top: 10px; width: 220px;') 판매자에게 문의 후 입금
                        input(type='hidden', name="member", value=member.email)
                    //form(action="/message", method="post")
                    //.payment_box.col-md-3(style='height: 100%;')
                        ol
                            li
                                input(type='text')
                            li
                                input(type='text')
                            li
                                input(type='text')
                            li
                                input(type='text')
                    //input(type='button', value="button" onclick="submit()")
            //160-177줄까지 댓글다는거 막아둠. 9.3
            //- .container
            //-     section#app.comments.col-xs-9(style='margin: 0 76px;')
            //-         article(style='margin: 100px 0;')
            //-             img.profile-photo(src='https://en.gravatar.com/userimage/18343163/3fd908393aedf6423ec12cacec9a1f50.jpg?size=200')
            //-             // <h4><a href="#">chrisburton</a></h4>
            //-             textarea#comment.img-responsive(name='', cols='88', rows='4', placeholder=' Add your comment..', style='font-size: 20px;')
            //-             input#menunum(type='hidden', value=number)
            //-             input.btn.btn-primary(type='button', value='Add Comment', style='float: right; margin-top: 5px;', onclick="comment('"+ session.email +"')")
            //-         // <h2 style="margin-bottom: 70px;">Comments</h2>
            //- 
            //-         each item in comment
            //-             article
            //-                 img.profile-photo(src='https://25.media.tumblr.com/avatar_c5eeb4b2e95b_128.png')
            //-                 h4
            //-                     a(href='#')=item.email
            //-                 time=item.submit_date
            //-                 p= item.text
                                //| 와..진짜 백종원이 와서 만들어준줄.. 이 분 생긴 것도 백종원이랑 똑같이 생겼음 ! 진짜 맛있었어요 . 담에 여자친구로 다시 오겠습니다 제발....

                    //article
                        img.profile-photo(src='https://randomuser.me/api/portraits/men/32.jpg')
                        h4
                            a(href='#') 이준희
                        time 1 week ago
                        p 솔직히 제가 이거보다 훨씬 맛있게 만들 수 있어요 . 저도 김치볶음밥 FooDIY에서 팔고 있으니 제 아이디로 검색 한 번씩 해보세요
                    //article
                        img.profile-photo(src='https://randomuser.me/api/portraits/women/19.jpg')
                        h4
                            a(href='#') 이희철
                        time 3 days ago
                        p 문정이랑 와서 먹으면 개꿀맛일듯
                    //article
                        img.profile-photo(src='https://randomuser.me/api/portraits/men/58.jpg')
                        h4
                            a(href='#') 권준민
                        time 5 minutes ago
                        p 솔직히 별로였음.. 봉고 밥보다 맛 없는듯 걍 내 옥상으로 온나 삼겹살 꾸워주께
                    //article
                        img.profile-photo(src='https://en.gravatar.com/userimage/18343163/3fd908393aedf6423ec12cacec9a1f50.jpg?size=200')
                        h4
                            a(href='#') 길세현
                        time 5 minutes ago
                        p 아.. 진짜 여기 맛있었는데 또 가고 싶은데 코딩하느라 바빠서 시간이 없네요ㅠㅠ 김기영 ㄳㄲ..

    script(src='../js/jquery.js')
    script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
    script(type='text/javascript', src='../js/bootstrap.js')
    script(type='text/javascript', src='../js/main.js')
    script(type='text/javascript', src='../js/menu_info.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0qeAa_KvAKAeoWRC1xl4BCH-iPN5ztc')
