//
   Created by Sehyeon on 2017-07-24.
doctype html
html(lang='en',ng-app="profile")
    head
        style.
            input.ng-invalid {
                border: 1px solid red;
            }
            input.ng-valid{
                border-bottom-style:solid;
            }
            input.ng-pristine {border:1px solid gray}
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    header
        #header_container.container
            form#header_content.container-fluid(action='#')
                a#gohome(href='/')
                    img#home_logo(src='../img/foodiylogo.gif', alt='', style='height: 50px;')
                input.input-sm#search_bar(type='text', placeholder='Where')
                input.datepicker.input-sm#calendar(type='text', placeholder='When')
                select.input-sm#menu
                    option(value='korean') Korean
                    option(value='japanese') Japanese
                    option(value='chinese') Chinese
                    option(value='western') Western
                    option(value='apetiser') Apetiser
                    option(value='etc') Etc
                select.input-sm#guest_num
                    option(value='') 1   Guest
                    option(value='') 2   Guest
                    option(value='') 3   Guest
                    option(value='') 4   Guest
                    option(value='') 5   Guest
                    option(value='') 6+ Guest
                .header_right
                    button.btn.btn-default.main_btn(type='button') 도움말

                    //메뉴 드롭다운 때문에 if , else 문 2개로 이루어져있던거
                    //if , else if, else 하나로 바꿨어 by 순우

                    if(session.seller)
                        button.btn.btn-default.main_btn(type="button", onclick="manage()") 판매 관리&nbsp&nbsp
                        .dropdown.main_btn
                            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                                i.fa.fa-user-o
                                |   내 정보&nbsp
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                    button.btn.btn-default(type="button", onclick="") 프로필
                                li.divider
                                li
                                    button.btn.btn-default(type="button", onclick="gotomsg()") 메시지
                                li.divider
                                li
                                    button.btn.btn-default(type="button", onclick="LogOut()") 로그아웃
                        .hamburger
                            .dropdown
                                button#hamburger.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                                    i.material-icons menu
                                ul.dropdown-menu-right.dropdown-menu
                                    li
                                        button.btn.btn-default(type="button", onclick="manage()") 판매 관리
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="gotomsg()") 메시지
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="") 도움말
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="LogOut()") 로그아웃
                                    li.divider
                                    li
                                        button.btn.btn-default.last_btn(type="button", onclick="", style="background-color: rgb(241,89,42); color: #fefefe;") 구매자로 전환
                    else if(session.email)
                        button.btn.btn-default.main_btn(type="button", onclick="submitseller()") 판매자 신청&nbsp
                        .dropdown.main_btn
                            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                                i.fa.fa-user-o
                                |   내 정보&nbsp
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                    button.btn.btn-default(type="button", onclick="") 프로필
                                li.divider
                                li
                                    button.btn.btn-default(type="button", onclick="gotomsg()") 메시지
                                li.divider
                                li
                                    button.btn.btn-default(type="button", onclick="LogOut()") 로그아웃
                        .hamburger
                            .dropdown
                                button#hamburger.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                                    i.material-icons menu
                                ul.dropdown-menu-right.dropdown-menu
                                    li
                                        button.btn.btn-default(type="button", onclick="gotomsg()") 메시지
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="") 프로필
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="") 도움말
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="LogOut()") 로그아웃
                                    li.divider
                                    li
                                        button.btn.btn-default.last_btn(type="button", onclick="submitseller()", style="background-color: rgb(241,89,42); color: #fefefe;") 판매자 신청
                    else
                        button.btn.btn-default.main_btn(type="button", onclick="submitseller()") 판매자 신청&nbsp
                        button.btn.btn-default.main_btn(type='button', data-toggle='modal', data-target='#pop-up-sign') 회원 가입
                        button.btn.btn-default.main_btn(type='button', data-toggle='modal', data-target='#pop-up-login') 로그인
                        .hamburger
                            .dropdown
                                button#hamburger.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                                    i.material-icons menu
                                ul.dropdown-menu-right.dropdown-menu
                                    li
                                        button.btn.btn-default(type='button', data-toggle='modal', data-target='#pop-up-login', style='margin-top:14px;') 로그인
                                    li.divider
                                    li
                                        button.btn.btn-default(type='button', data-toggle='modal', data-target='#pop-up-sign') 회원가입
                                    li.divider
                                    li
                                        button.btn.btn-default(type="button", onclick="") 도움말
                                    li.divider
                                    li
                                        button.btn.btn-default.last_btn(type="button", onclick="submitseller()", style="background-color: rgb(241,89,42); color: #fefefe;") 판매자 신청하기
                            //i.fa.fa-angle-down
                        //button.btn.btn-default(type="button", onclick="LogOut()") Logout
                //.hamburger
                //    span.dropdown
                //        button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                //            i.material-icons menu
                //        ul.dropdown-menu-right.dropdown-menu
                //            li
                //                button.btn.btn-default(type="button", onclick="", style="margin-top:14px;") Profile
                //            hr
                //            li
                //                button.btn.btn-default(type="button", onclick="gotomsg()") Message
                //            hr
                //            li
                //                button.btn.btn-default(type="button", onclick="LogOut()") Logout

                .sidenav#mySidenav
                    a(href="#") About
                    a(href="#") About
                    a(href="#") About
                    a(href="#") About


    article


        // pop-up Signup
        #pop-up-sign.signupform.container-fluid.modal.fade
            .signup-content
                form#signup_form.form-horizontal(name='signup', action='', role='form')
                    .form-group
                        .real_content
                            p#signupfail
                            .link_google_naver
                                button#signup-google-s.link_othersignup.col-xs-6.col-sm-6.col-md-6.col-lg-6(type='button' onclick="location.href='/signupgoogle'" formnovalidate)
                                    span
                                        img(src='../img/google_logo.png', alt='')
                                    | google
                                button#signup-naver-s.link_othersignup.col-xs-6.col-sm-6.col-md-6.col-lg-6(type='button' onclick="location.href='/signupnaver'" formnovalidate)
                                    span
                                        img(src='../img/naver.png', alt='')
                                    | naver
                            br
                            br
                            hr
                            if(messageIn)
                              #alert-messageIn.alert.alert-danger(role='alert')=messageIn
                            
                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-envelope
                            .input-group
                                input#email-s.form-control(type='text', ng-required='true', placeholder='E-mail', oninput="iddupcheck(this.form)", name="email", ng-model="user.email", ng-pattern="/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*[.][a-zA-Z]{2,3}$/i")
                                span.input-group-addon.login-button
                            .alert.alert-warning(ng-show='signup.email.$error.pattern', role='alert')
                                | Invalid form
                            p#idcheck
                            .input-group-s
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input#password-s.form-control(type='password', placeholder='Password', name="pass", ng-required='true',
                                ng-model='formdata.password', ng-pattern='/^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[~!@#$%^*+=-]).{8,20}$/')
                                .alert.alert-warning(ng-show='signup.pass.$error.pattern', role='alert')
                                    | Input a combination of numbers and alphabet
                                    | between 8 and 20
                                input#password2-s.form-control(type='password', placeholder='Confirm Password', name="pass2", ng-model='formdata.password2' confirm-password required/)
                                .alert.alert-warning(ng-show='signup.pass2.$error.passwordsIdentical', role='alert')
                                    | Not Match.
                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-user-circle-o(aria-hidden='true')
                            .row
                                .col-md-5
                                    input#firstName.form-control(type='text', placeholder='First Name' , name="firstName",
                                    ng-model="user.firstName", ng-required='true', ng-maxlength="10",
                                    ng-pattern='/^[a-zA-Z가-힣]+$/')
                                    .alert.alert-warning(ng-show='signup.firstName.$error.maxlength||signup.firstName.$error.pattern||signup.firstName.$error.required$$signup.firstName.$dirty', role='alert')
                                        | Invalid Input
                                .col-md-7
                                    input#wtf.form-control(type='text', ng-required='true' , ng-maxlength='10',placeholder='Last Name',
                                    name="lastName",
                                    ng-model="user.lastName",ng-pattern='/^[a-zA-Z가-힣]+$/' )
                                    .alert.alert-warning(ng-show='signup.lastName.$error.maxlength||signup.lastName.$error.pattern||signup.lastName.$error.required&&signup.lastName.$dirty', role='alert')
                                        | Invalid Input
                            input#signup-zipbob.signupzipbob.form-control(type='button', value='Sign Up', onclick='signuppass(this.form)', ng-disabled='signup.firstName.$invalid \
                                                        || signup.lastName.$invalid ||signup.password.$invalid ||signup.password2.$invalid || \
                                                        signup.email.$invalid  ')


        #pop-up-passport.signupform.container-fluid.modal.fade
            .signup-content
                form#passup_form.form-horizontal(name='passup', action='', role='form')
                    .form-group
                        .real_content
                            .dialog
                                a.close-thik(href='#')

                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-envelope
                            .input-group
                                input#id-p(name='id', type='hidden')
                                input#provider-p(name='provider', type='hidden')
                                input#email-p.form-control(type='text',  placeholder='E-mail', name="email", ng-model="user.email", ng-pattern="/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*[.][a-zA-Z]{2,3}$/i")
                                span.input-group-addon.login-button
                            .alert.alert-warning(ng-show='passup.email.$error.pattern', role='alert')
                                | Invalid form
                            p
                            p
                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-user-circle-o(aria-hidden='true')
                            .row
                                .col-md-5
                                    input#firstName-p.form-control(type='text', placeholder='First Name' , name="firstName",
                                    ng-model="user.firstName", ng-required='true', ng-maxlength="10",
                                    ng-pattern='/^[a-zA-Z가-힣]+$/')
                                    .alert.alert-warning(ng-show='passup.firstName.$error.maxlength||passup.firstName.$error.pattern||passup.firstName.$error.required$$passup.firstName.$dirty', role='alert')
                                        | Invalid Input
                                .col-md-7
                                    input#lastName-p.form-control(type='text', ng-required='true' , ng-maxlength='10',placeholder='Last Name',
                                    name="lastName",
                                    ng-model="user.lastName",ng-pattern='/^[a-zA-Z가-힣]+$/' )
                                    .alert.alert-warning(ng-show='passup.lastName.$error.maxlength||passup.lastName.$error.pattern||passup.lastName.$error.required&&passup.lastName.$dirty', role='alert')
                                        | Invalid Input
                            input#passup-zipbob.signupzipbob.form-control(type='button', value='Sign Up', onclick='signuptemp(this.form)', ng-disabled='passup.firstName.$invalid \
                                                        || passup.lastName.$invalid || passup.email.$invalid  ')
        // pop-up login

        //#pop-up-login.signupform.container-fluid.modal.fade
            .signup-content
                form.form-horizontal()
                    .form-group
                        .real_content
                            button#signup-google-l.signupgoogle.form-control(type=button,onclick="location.href='/logingoogle'")
                                span
                                    img(src='../img/google_logo.png', alt='')
                                p Login with google
                            button#signup-facebook-l.signupfacebook.form-control(type=button,onclick="location.href='/loginnaver'")
                                span
                                    img(src='../img/naver.png', alt='')
                                p Login with naver
                            hr
                            if(messageUp)
                              #alert-messageUp.alert.alert-danger(role='alert')=messageUp
                            p#loginfail
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-envelope
                                input#email-l.form-control.input-lg(type='email', name="email", placeholder='E-mail')
                            .input-group
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input#password-l.form-control.input-lg(type='password', name="pass", placeholder='Password')
                            .login-set
                                input(type='checkbox')
                                | Save password
                                a(href='') Forgot password ?
                                button#sign-in.login-sign-in.form-control(type='button' onclick="LoginCheck(this.form)") Log in
                                hr
                            button#sign-up.login-sign-up.form-control(type='button', data-toggle='modal', data-target='#pop-up-sign', data-dismiss='modal') Sign up
        #pop-up-login.signupform.container-fluid.modal.fade
            .signup-content
                form#login_form.form-horizontal(action='')
                    .form-group
                        .real_content
                            button#signup-google-l.signupgoogle.form-control(type="button",onclick="location.href='/logingoogle'" formnovalidate)
                                span
                                    img(src='../img/google_logo.png', alt='')
                                p Login with google
                            button#signup-naver-l.signupnaver.form-control(type="button",onclick="location.href='/loginnaver'" formnovalidate)
                                span
                                    img(src='../img/naver_logo.png', alt='')
                                p Login with naver
                            hr
                            if(messageUp)
                                #alert-messageUp.alert.alert-danger(role='alert')=messageUp
                            p#loginfail

                            .input-group
                                span.input-group-addon
                                    i.fa.fa-envelope
                                input#email-l.form-control.input-lg(type='email', name="email", placeholder='E-mail')
                            .input-group
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input#password-l.form-control.input-lg(type='password', name="pass", placeholder='Password')
                            .login-set
                                input(type='checkbox')
                                | Save password
                                a(href='') Forgot password ?
                                button#sign-in.login-sign-in.form-control(type='button' onclick="LoginCheck(this.form)") Log in
                                hr
                            button#sign-up.login-sign-up.form-control(type='button', data-toggle='modal', data-target='#pop-up-sign', data-dismiss='modal') Sign up

        #mail_confirm.signupform.container-fluid.modal.fade
            .signup-content
                form.form-horizontal(action='')
                    .form-group
                        .real_content
                            .jumbotron
                                p#reconfirmtext(style='text-align: center; font-size: 20px;') 입력하신 메일 주소로 인증 메일을 보냈습니다. 인증 확인 후 최종 회원가입 처리가 완료됩니다.
                            button#reconfirmbutton.signupfacebook.form-control(type='button', onclick="reconfirm()")
                                p 인증 메일 다시 보내기
                            button#login.signupgoogle.form-control(type='button', onclick="tologin()")
                                p 로그인
                            //input#temp_email(type="hidden")

    script(src='../js/jquery.js')
    script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
    script(type='text/javascript', src='../js/topmenu.js')
    if(messageUp)
        script.
            $(document).ready(function(){
            $('#pop-up-login').modal('show');
            $('#pop-up-login').on('hide.bs.modal', function (e) {
              location.replace('/');
            });
            window.setTimeout(function(){
              $("#alert-messageUp").fadeTo(500,0).slideUp(500,function(){
                $(this).remove();
              });
            },3000);
            });
    if(messageIn)
        script.
            $(document).ready(function(){
            $('#pop-up-sign').modal('show'); 
            $('#pop-up-sign').on('hide.bs.modal', function (e) {
              location.replace('/');
            });
            window.setTimeout(function(){
              $("#alert-messageIn").fadeTo(500,0).slideUp(500,function(){
                $(this).remove();
              });
            },3000) ;
            });
    if(session.temp)
        script.
            $(document).ready(function(){
            TempDel();
            var user=!{JSON.stringify(users)};
            $('#pop-up-passport').modal('show'); 
            $('#pop-up-passport').on('hide.bs.modal', function (e) {
              location.replace('/');
            });
            $(function () {
            $('#id-p').val(user.id);
            $('#email-p').val(user.email);
            $('#provider-p').val(user.provider);
            $("#email-p").prop("readonly", true);
            });
            });
