//
   Created by Sehyeon on 2017-07-24.
doctype html
html(lang='en',ng-app="profile")
    head
        style.
            input.ng-invalid {
                border: 1px solid red;
            }
            input.ng-valid{
                border-bottom-style:solid;
            }
            input.ng-pristine {border:1px solid gray}
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js')
    header
        #header_container.container
            form#header_content.container-fluid(action='#')
                a(href='/')
                    img(src='../img/temp_logo.jpg', alt='', style='height: 50px; width: 70px;')
                input.input-sm(type='text', placeholder='Where', style='width: 250px;')
                input.datepicker.input-sm(type='text', placeholder='When')
                select.input-sm
                    option(value='korean') Korean
                    option(value='japanese') Japanese
                    option(value='chinese') Chinese
                    option(value='western') Western
                    option(value='apetiser') Apetiser
                    option(value='etc') Etc
                select.input-sm
                    option(value='') 1   Guest
                    option(value='') 2   Guest
                    option(value='') 3   Guest
                    option(value='') 4   Guest
                    option(value='') 5   Guest
                    option(value='') 6+ Guest
                .header_right
                    button#main_qna Q&A
                    if(session.seller)
                        button#main_become(type="button", onclick="manage()") Manage Menu
                    else
                        button#main_become(type="button", onclick="submitseller()") Be a foodiy
                    if(session.user)
                        button(type="button", onclick="LogOut()") Logout
                    else
                        span#main_signup Sign up
                        span#main_login Login
    article
        // pop-up Signup
        #pop-up-sign.signupform.container-fluid
            .signup-content
                form#signup_form.form-horizontal(name='signup', action='', role='form')
                    .form-group
                        .real_content
                            p#signupfail
                            .link_google_facebook
                                button#signup-google-s.link_othersignup.col-xs-6.col-sm-6.col-md-6.col-lg-6
                                    span
                                        img(src='../img/google_logo.png', alt='')
                                    | google
                                button#signup-facebook-s.link_othersignup.col-xs-6.col-sm-6.col-md-6.col-lg-6
                                    span
                                        img(src='../img/facebook_logo.png', alt='')
                                    | facebook
                            br
                            br
                            hr
                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-envelope
                            .input-group
                                input#email-s.form-control(type='text', ng-required='true', placeholder='E-mail', oninput="iddupcheck(this.form)", name="email", ng-model="user.email", ng-pattern="/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*[.][a-zA-Z]{2,3}$/i")
                                span.input-group-addon.login-button
                            .alert.alert-warning(ng-show='signup.email.$error.pattern', role='alert')
                                | Invalid form
                            p#idcheck
                            .input-group-s
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input#password-s.form-control(type='password', placeholder='Password', name="pass", ng-required='true',
                                ng-model='formdata.password', ng-pattern='/^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[~!@#$%^*+=-]).{8,20}$/')
                                .alert.alert-warning(ng-show='signup.password.$error.pattern', role='alert')
                                    | Input a combination of numbers and alphabet
                                    | between 8 and 20
                                input#password2-s.form-control(type='password', placeholder='Confirm Password', name="pass2", ng-model='formdata.password2' confirm-password required/)
                                .alert.alert-warning(ng-show='signup.password2.$error.passwordsIdentical', role='alert')
                                    | Not Match.
                            .input-group-s
                                span.input-group-addon
                                    i.fa.fa-user-circle-o(aria-hidden='true')
                            .row
                                .col-md-5
                                    input#firstName.form-control(type='text', placeholder='First Name' , name="firstName",
                                    ng-model="user.firstName", ng-required='true', ng-maxlength="10",
                                    ng-pattern='/^[a-zA-Z가-힣]+$/')
                                    .alert.alert-warning(ng-show='signup.firstName.$error.maxlength||signup.firstName.$error.pattern||signup.firstName.$error.required$$signup.firstName.$dirty', role='alert')
                                        | Invalid Input
                                .col-md-7
                                    input#wtf.form-control(type='text', ng-required='true' , ng-maxlength='10',placeholder='Last Name',
                                    name="lastName",
                                    ng-model="user.lastName",ng-pattern='/^[a-zA-Z가-힣]+$/' )
                                    .alert.alert-warning(ng-show='signup.lastName.$error.maxlength||signup.lastName.$error.pattern||signup.lastName.$error.required&&signup.lastName.$dirty', role='alert')
                                        | Invalid Input
                            input#signup-zipbob.signupzipbob.form-control(type='button', value='Sign Up', onclick='signuppass(this.form)', ng-disabled='signup.firstName.$invalid \
                                                        || signup.lastName.$invalid ||signup.password.$invalid ||signup.password2.$invalid || \
                                                        signup.email.$invalid  ')
        // pop-up login
        #pop-up-login.signupform.container-fluid
            .signup-content
                form.form-horizontal()
                    .form-group
                        .real_content
                            button#signup-google-l.signupgoogle.form-control
                                span
                                    img(src='../img/google_logo.png', alt='')
                                p Login with google
                            button#signup-facebook-l.signupfacebook.form-control
                                span
                                    img(src='../img/facebook_logo.png', alt='')
                                p Login with facebook
                            hr
                            p#loginfail
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-envelope
                                input#email-l.form-control.input-lg(type='email', name="email", placeholder='E-mail')
                            .input-group
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input#password-l.form-control.input-lg(type='password', name="pass", placeholder='Password')
                            .login-set
                                input(type='checkbox')
                                | Save password
                                a(href='') Forgot password ?
                                button#sign-in.login-sign-in.form-control(type='button' onclick="LoginCheck(this.form)") Log in
                                hr
                            button#sign-up.login-sign-up.form-control(type='button', onclick="LoginCheck(this.form)") Sign up
    script(type='text/javascript', src='../js/topmenu.js')